@using ProdTrace.Models.Classes
@model List<SalesMovement>

@{
    ViewBag.Title = "SalesDetail";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Satış Detayı</h2>
<br />
<table class="table table-condensed">
    <tr>
        <td>Satış Id</td>
        <td>Ürün</td>
        <td>Cari</td>
        <td>Personel</td>
        <td>Fiyat</td>
        <td>Adet</td>
        <td>Toplam Fiyat</td>
        <td>Tarih</td>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.SalesId</td>
            <td>@x.Product.ProductName</td>
            <td>@x.Customer.CustomerName @x.Customer.CustomerSurname</td>
            <td>@x.Staff.StaffName @x.Staff.StaffSurname</td>
            <td>@x.Price</td>
            <td>@x.Piece</td>
            <td>@x.TotalPrice</td>
            <td>@x.Date</td>
        </tr>
    }
</table>
<button class="btn btn-default" style="background-color:dodgerblue">Yazdır</button>
