@model ProdTrace.Models.Classes.Invoice
@{
    ViewBag.Title = "GetInvoice";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("UpdateInvoice", "Invoice", FormMethod.Post))
{
    @Html.HiddenFor(x => x.InvoiceId)
    <br />
    @Html.Label("Seri No")
    @Html.TextBoxFor(x => x.InvoiceSerialNo, new { @class = "form-control" })
    <br />
    @Html.Label("Sıra No")
    @Html.TextBoxFor(x => x.InvoiceSequenceNo, new { @class = "form-control" })
    <br />
    @Html.Label("Vergi Dairesi")
    @Html.TextBoxFor(x => x.InvoiceTaxAuthority, new { @class = "form-control" })
    <br />
    @Html.Label("Tarih")
    @Html.TextBoxFor(x => x.InvoiceDate, new { @class = "form-control" })
    <br />
    @Html.Label("Saat")
    @Html.TextBoxFor(x => x.InvoiceHour, new { @class = "form-control" })
    <br />
    @Html.Label("Teslim Eden")
    @Html.TextBoxFor(x => x.DeliveryFrom, new { @class = "form-control" })
    <br />
    @Html.Label("Teslim Alan")
    @Html.TextBoxFor(x => x.DeliveryTo, new { @class = "form-control" })
    <br />
    <button class="btn btn-warning">Güncelle</button>
}