@using ProdTrace.Models.Classes
@model List<InvoiceColumn>
@{
    ViewBag.Title = "InvoiceDetail";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Fatura Kalemleri Sayfası</h2>
<br />

<div class="heading mb-4" style="background-color:blueviolet; height:3rem;">
    <ul style="color: white; padding-top:10px; text-align:center;"></ul>
</div>

<table class="table table-hover">
    <tr>
        <th>Id</th>
        <th>Açıklama</th>
        <th>Miktar</th>
        <th>Birim Fiyatı</th>
        <th>Tutar</th>
    </tr>

    @foreach (var x in Model)
    {
        <tr>
            <th>@x.InvoiceColumnId</th>
            <th>@x.Description</th>
            <th>@x.Amount</th>
            <th>@x.UnitPrice</th>
            <th>@x.TotalPrice</th>           
        </tr>
    }

</table>

<a href="/Invoice/AddInvoiceColumn/" class="btn btn-default" style="background-color:darksalmon">Yeni Kalem Girişi</a>