@model ProdTrace.Models.Classes.Customer
@{
    ViewBag.Title = "UpdateCustomer";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Cari Güncelleme Ekranı</h2>
<br />
@using (Html.BeginForm("UpdateCustomer", "Customer", FormMethod.Post))
            {
<div class="form-group">
    @Html.HiddenFor(x => x.CustomerId)
    @Html.LabelFor(x => x.CustomerName)
    @Html.TextBoxFor(x => x.CustomerName, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.CustomerName, "", new { @style = "color:red" })
    <br />
    @Html.LabelFor(x => x.CustomerSurname)
    @Html.TextBoxFor(x => x.CustomerSurname, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.CustomerSurname, "", new { @style = "color:red" })
    <br />
    @Html.LabelFor(x => x.CustomerCountry)
    @Html.TextBoxFor(x => x.CustomerCountry, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.CustomerCountry, "", new { @style = "color:red" })
    <br />
    @Html.LabelFor(x => x.CustomerMail)
    @Html.TextBoxFor(x => x.CustomerMail, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.CustomerMail, "", new { @style = "color:red" })
    <br />
    <button class="btn btn-default" style="background-color:yellowgreen">Güncelle</button>

</div>
            }
